*{
  margin: 0 px;
  padding: 0
}

.box {
  border: 1px solid;
  height: 40px;
  width: 40px;
  margin: 5px;
  display: inline-block;
}

.containerBaris {
  display: block;
}

.start-game-button {
  padding: 5px
}